/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header h1 {
    float: left;
    margin: 0;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding-top: 60px; /* Adjust this padding to match the header height */
}

#contact {
    padding: 60px 0;
    text-align: center;
}

#contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#contact p {
    font-size: 18px;
    margin-bottom: 40px;
}

form {
    max-width: 600px;
    margin: 0 auto 40px;
}

form label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    color: #333;
}

form input, form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e8491d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #d7381c;
}

.contact-info {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact-info h3 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

.contact-info p {
    font-size: 18px;
    color: #666;
}

.contact-info a {
    color: #e8491d;
    text-decoration: none;
}

contact-info a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
